.menu {
  display: inline-block;
  width: 100px;
  height: 50px;}

  table{
    margin: 5px;
    border:2px solid rgb(63, 6, 63);
  }
  tr {
    text-align: center;
    border: 1px solid green;
  }

td {
  text-align: center;
}
button {
  display: inline-block;

}
