h2 {
  text-align: center;
  font-size: 25px;
}

form {
  text-align: center;
  background-color: fuchsia;
  width: 1200px;
  margin: 0 auto;
}
.control-group {
  position: relative;
}

label{
 font-size: 20px;
 text-transform: to-upper-case;
 line-height: 38px;
 margin: 0 50px 0 0;
 text-align: right;
}

input {
  border: 1px solid black;
  position: absolute;
  right: 390px;
  top:8px;
}

input.typ {
  position: static;
}

